html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
.deck .card.not-match {
    cursor: default;
    background: red;
    font-size: 33px;
   
     animation: shake 5s ;
     animation-iteration-count: infinite;
    
}

@keyframes shake{
    0%{transform: translate(1px,1px)rotate(0deg)}
    10%{transform: translate(1px,1px)rotate(2deg)}
    20%{transform: translate(1px,1px)rotate(-2deg)}
    30%{transform: translate(1px,1px)rotate(1deg)}
    40%{transform: translate(1px,1px)rotate(-1deg)}
    50%{transform: translate(1px,1px)rotate(-2deg)}
    60%{transform: translate(1px,1px)rotate(2deg)}
    70%{transform: translate(1px,1px)rotate(-1deg)}
    80%{transform: translate(1px,1px)rotate(1deg)}
    90%{transform: translate(1px,1px)rotate(-2deg)}
    100%{transform: translate(1px,1px)rotate(2deg)}
    110%{transform: translate(1px,1px)rotate(0deg)}
}
.replay{
    background-color: #02ccba;
     color:white;
     width: 60%;
     height:60px;
     font-size: 25px;
     border: none;
     border-radius: 5.3px;
}
.fa fa-check-circle-o{
    color: #02ccba;
 
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.wonmessage{
    align-self: text;
}
.win{
    background-color: white;
    width: 100%;
    height:100%;
}
.disable-clicks{
pointer-events: none;
}