html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}

.header{
    font-family: inherit;
    font-variant: small-caps;
    font-size: 3.5em;
}



/*
 * Styles for the deck of cards
 */
.disable{
    pointer-events: none;
}
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

 .deck .card-not-match{
    cursor: default;
    background: red;
 }

.score-panel {
    width: 400px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;

}

.score-panel .timer{
    display: inline;
    margin-left: 15px;
    left: 5%;
}

.modal-header, .modal-footer {
    background: #02b3e4;
    color:#000;
    font-weight: bold;
}

.modal-body {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: #000;
}
.comment {
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}

.modal-stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.modal-stars li {
    list-style: none;
    display: inline-block;
}

.modal-stars li i{
    color: #ff0;
    font-size: 20px;
}
.btn {
    color: #000;
    font-size: 20px;
}